
body {
    margin: 0;
    padding: 0;
    background-color: #0E2C12;
    text-align: center;
}
nav {
    width: 100%;
    padding: 10px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
main {
    margin-top: 50px; 
    padding: 20px;
}
h1, h2, h3 {
    margin: 0;
    padding: 10px 0;
    color: #FFFFFF;
}
p {
    line-height: 1.6;
    margin: 20px 0;
    color: #FFFFFF;
}
img {
    max-width: 100%;
    height: auto;
  }
ul, li {
    color: #FFFFFF;
}
a {
    color: #0000FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.logo {
    float:left;
    margin: 10px;
    width: 100px;
    height: 60px;
}